body{
margin:0;
padding:0;
}
#container{
overflow: hidden;
max-width: 100%;
height: 100vh;
/*image-rendering: pixelated;
image-rendering: -moz-crisp-edges;
image-rendering: crisp-edges;*/
background-image: url('../Images/back1.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
#page-nav label, #hamburger {
display: none;
}
#page-nav ul {
margin: 0;
padding: 0;
display: flex;
list-style-type: none;
float: right;
}
#page-nav li {
padding: 15px 18px;
transition-property: border;
transition-duration: 0.5s;
transition-timing-function: linear;
}
#page-nav li:hover{
border-bottom: 2px solid red;
}
#page-nav a{
text-decoration: none;
color: white;
}

/*===================================social media=====================================*/

.media {
display: flex;

  text-align: center;
  align-items: center;
  justify-content: center;
 

}
.media ul{
  display: flex;
  position: relative;
  top: 15em;
  left: 10%;
}
 .media ul li{
  position: relative;
  display: block;
  color: #666;
  font-size: 20px;
  height: 50px;
  width: 50px;
background: #171128;
  line-height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
  transition: .5s;
}
 .media ul li:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  /* background: #d35400; */
  border-radius: 50%;
  transform: scale(.9);
  z-index: -1;
  transition: .5s;
}
.media ul li:nth-child(1):before{
  background: #4267B2;
}
.media ul li:nth-child(2):before{
  background: #1DA1F2;
}
.media ul li:nth-child(3):before{
  background: #E1306C;
}
.media ul li:nth-child(4):before{
  background: #2867B2;
}
.media ul li:nth-child(5):before{
  background: #ff0000;
}
.media ul li:hover:before{
  filter: blur(3px);
  transform: scale(1.2);
  /* box-shadow: 0 0 15px #d35400; */
}
.media ul li:nth-child(1):hover:before{
  box-shadow: 0 0 15px #4267B2;
}
.media ul li:nth-child(2):hover:before{
  box-shadow: 0 0 15px #1DA1F2;
}
.media ul li:nth-child(3):hover:before{
  box-shadow: 0 0 15px #E1306C;
}
.media ul li:nth-child(4):hover:before{
  box-shadow: 0 0 15px #2867B2;
}
.media ul li:nth-child(5):hover:before{
  box-shadow: 0 0 15px #ff0000;
}
.media ul li:nth-child(1):hover{
  color: #456cba;
  box-shadow: 0 0 15px #4267B2;
  text-shadow: 0 0 15px #4267B2;
}
.media ul li:nth-child(2):hover{
  color: #26a4f2;
  box-shadow: 0 0 15px #1DA1F2;
  text-shadow: 0 0 15px #1DA1F2;
}
.media ul li:nth-child(3):hover{
  color: #e23670;
  box-shadow: 0 0 15px #E1306C;
  text-shadow: 0 0 15px #E1306C;
}
.media ul li:nth-child(4):hover{
  color: #2a6cbb;
  box-shadow: 0 0 15px #2867B2;
  text-shadow: 0 0 15px #2867B2;
}
.media ul li:nth-child(5):hover{
  color: #ff1a1a;
  box-shadow: 0 0 15px #ff0000;
  text-shadow: 0 0 15px #ff0000;
}
/* ul li:hover{
  color: #ffa502;
  box-shadow: 0 0 15px #d35400;
  text-shadow: 0 0 15px #d35400;
} */

@media screen and (max-width: 600px){
	.media {
		float: left;		
	}
}

/*================================================================menu start*/
@media screen and (max-width: 786px){
/* Show Hamburger */
#page-nav label {
display: inline-block;
color: #fff;
background: #a02620;
font-style: normal;
font-size: 1.8em;
padding: 10px;
cursor: pointer;
background: none;
outline: none;
}
/* Break down menu items into vertical */
#page-nav li:hover{
border-bottom: 0px;
}
#page-nav ul li {
display: block;
}
#page-nav ul li {
border-top: 1px solid #333;
}
#page-nav ul{
width: 100%;
text-align: center;
}
#page-nav li:hover{
background-color: rgba(0,0,0,0.255);
}
/* Toggle show/hide menu on checkbox click */
#page-nav ul {
display: none;
}
#page-nav input:checked ~ ul {
display: block;
}
}
/*===========================================================meun end */

/*=============================================section start*/





.card{
	height: 100vh;
	max-width: 100%;
	background: linear-gradient(#ffafbd , #ffc3a0);
}